/* Tot validat */
body {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(28, 28, 73);
    padding: 10px;
    margin: 0px;
    background-image: url("../../img/fondo_header.jpg");
}

nav {
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
}

nav>button {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 92, 142);
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 200px;
    text-decoration: none;
    padding: 1em;
    margin: 0 0.5em;

}

nav>button>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav button:hover {
    background-color: rgba(0, 130, 186, 0.357);
}

.logo {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        left: -400px;
    }

    to {
        left: 0px;
    }
}

.primerh1 {
    display: flex;
    text-align: center;
    color: black;
    background-color: rgb(5, 92, 142);
    margin-top: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    margin-bottom: 1px;
}

.municipios {
    display: flex;
    flex-wrap: wrap;
}

/* Divs Izquierdos */
.palma_izquierda,
.calvia_izquierda,
.llucmajor_izquierda,
.alcudia_izquierda,
.soller_izquierda {
    width: 40%;
    text-align: center;
    background-color: bisque;
    border: 1px solid white;
    height: 400px;
}

/* Divs Derechos */
.palma_derecha,
.calvia_derecha,
.llucmajor_derecha,
.alcudia_derecha,
.soller_derecha {
    display: flex;
    flex-grow: 1;
    border: 1px solid white;
    height: 400px;
    background-color: rgb(50, 145, 145);
    width: 60%;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    height: 70%;
    align-self: center;
    width: 90%;
}

li {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    display: flex;
    background-color: rgba(88, 192, 192, 0.486);
}

li>a:hover {
    color: blue;
}

li:hover {
    background-color: rgba(46, 123, 158, 0.514);
    color: black;
}

div>ul>li>a {
    text-decoration: none;
    color: white
}

.palma,
.calvia,
.llucmajor,
.alcudia,
.soller {
    width: 100%;
    height: 400px;
    display: flex;
}

iframe {
    width: 700px;
    height: 300px;
}

footer {
    display: flex;
    width: 100%;
    background-color: rgb(5, 92, 142);
    margin: 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}

footer>p>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    header {
        width: 390px;
        padding: 0;
        padding-bottom: 5px;
    }

    nav {
        width: 390px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    nav>button {
        height: 50px;
        width: 100px;
    }

    nav>button>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 390px;
        height: 150px;
    }

    .primerh1 {
        font-size: 20px;
        width: 390px;
    }

    .municipios {
        width: 390px;
    }

    .palma,
    .calvia,
    .llucmajor,
    .alcudia,
    .soller {
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    .palma_izquierda,
    .calvia_izquierda,
    .llucmajor_izquierda,
    .alcudia_izquierda,
    .soller_izquierda {
        width: 390px;
        height: 400px;
    }

    .palma_derecha,
    .calvia_derecha,
    .llucmajor_derecha,
    .alcudia_derecha,
    .soller_derecha {
        width: 390px;
        height: 400px;
    }

    ul {
        width: 390px;
        height: 300px;
        margin: 0;
        padding: 10px;
    }

    li {
        width: 370px;
        height: 50px;
    }

    iframe {
        width: 370px;
        height: 300px;
    }

    footer {
        width: 390px;
        text-align: center;
        font-size: 10px;
    }

    footer>p>a>img {
        height: 15px;
    }
}